



  

  
  
  ul.pageList {
    width: 100%;
    list-style-type: none;
    margin: 0.5cm;
    padding: 0;
    overflow: hidden;
    
   
  }
  
  li.navli {
    float: left;
  }
  
  li.navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.navli a:hover:not(.active) {
    background-color: #111;
  } 
  .active {
    background-color: #4CAF50;
  }
  div.intro {
    color: blue; 
    margin-top: 0.5cm;
    padding : 0.5cm;  
    
    height: auto;
    width: 100%;
   
  }  

  .fa {
    text-decoration: none;
    font-size: 70px;
  }
  
  .fa-facebook{
    background-color:  white;
    color:black;
  }

  .fa-instagram {
    
    
    background-color:  white;
    color:black;
  }  

  
  
  .fa-linkedin {
    
    background-color:  white;
    color:black;
  }

  div.links{
    margin-top: 0.5cm;
    margin: 0.5cm;
    border-radius: 30px;
    padding-left: 20px;
    height: 160px;
    background-color: powderblue;
    
  }
  ul.linkList{
    list-style-type: none;
    height: 120px;
    margin-top: 0px;
    overflow-y: scroll;
   
  }
 
  .main-container{
    max-height: 125px;
    
    height: max-content;
    background-color: powderblue;
    display: inline-block;
  }

  .img-1{
    display: inline-block;
    height: 125px;
    width: 125px;
    background-color: red;
    
  }
  .img-2{
    display: inline-block;
    height: 125px;
    width: 125px;
    background-color: blue;
   
  }
  .text{
    display: inline-block;
    height: 125px;
    width: 240px;
    background-color: yellow;
  }
  .jumbotron{
    background-image: url(jumbotron.jpg);
    background-size: cover;
    color: white;
  }
  
  .contact-render{
    width: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: powderblue;
    margin: 10px;
  }

  .about{
    display: inline-block;
    padding: 10px;
    
    
    
  }